*,::before,::after{
    box-sizing: border-box;
}
body{
    font-family: "poppins" ,sans-serif;
    background-image: linear-gradient(to right top, #d84e9d, #ee5670, #ea7147, #d2912a, #abad30, #93bd4b, #77cb6c, #54d791, #4de1ab, #4ceac4, #51f3db, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    scroll-behavior: smooth;
    transition: scroll-behavior 0.3s ease-in-out;
}
.container{
    width:90%;
    padding:10px;
    position: relative;
}
.logo{
position: fixed;
bottom:80px;
left:80px;
color: black;
font-size: 50px;
transform-origin:center;

}

logo i{
    border:solid white 2px;
}

a{
    border:none;
    background-color: rgb(150, 101, 196);
    font-size: 30px;
    
    border-radius: 20%;
}